<div>
  <div (click)="getUsers()">Users</div>
  <div *ngIf="userService.users | async as users">
    <div *ngFor="let user of users">
      <div (click)="selectUser(user)">{{user.id}}. {{user.name}} {{user.balance | currency}}</div>
    </div>
  </div>
  <div class="selected" *ngIf="userService.userSelected|async as user">
    <div>{{user.id}}. {{user.name}} {{user.balance | currency}}</div>
  </div>


  <form [formGroup]="addNewUserForm" (ngSubmit)="addNewUserSubmit()">
    <input type="number" id="currency" required min="1" formControlName="balance">
    <button [disabled]="!addNewUserForm.valid">Добавить</button>

    <div style="color: red" *ngIf="balance.invalid && (balance.dirty || balance.touched)">
      <div *ngIf="balance.errors?.['required']">
        Баланс необходим.
      </div>
      <div *ngIf=" balance.value! < 1">
        Баланс должен быть больше 0.
      </div>
    </div>
  </form>
</div>
