.ctrl{
  display: flex;
  gap: 2em;
  .paginationForm{
    display: flex;
    gap: 0.5em
  }
}

.list{
  .item{
    display: flex;
    gap: 0.4em;
    justify-content: flex-end;
    .name{
      align-self: flex-start;
    }
  }
}
